<div class="container more-container">
  <h3>{{ site.more_title | default: "A Little More About Me" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ site.more_content | strip | markdownify }}
    </div>
  </div>
</div>
<style>
  /*一个不停旋转的animate动画*/
    .rotate {
      height:16px;width:16px;margin-left:16px;
        -webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
    }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
